{% extends "layout.html.twig" %}



{% block body %}

    <section class="clearfix pageTitleSection bg-image" style="background-image: url({{ asset('img/background/activityback.png') }}" alt="Origin country"  >
        <div class="container">
            <div class="row">
                <div class="col-xs-12"></div>
            </div>        	
            <br>
        </div>
        <br>	
    </section>

    <div class="pageTitle">
        <h2>Add an Activity</h2>
    </div>




    {% use "bootstrap_4_layout.html.twig" %}

    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>


    <div id="map"></div>

    {{form_start (form) }}    {# debut du formulaire #}
    {{form_widget (form) }}   {# contenu du formulaire #} 
    {{form_end (form) }}      {# fin du formulaire #}

    <script>
         var geocoder;
        var map;
         var bar = 'img/marker/markermap/barpub.png';
        var restaurant = 'img/marker/markermap/foodrestaurant.png';
        var culture = 'img/marker/markermap/culture.png';
        var outdooractivity = 'img/marker/markermap/outdooractivity.png';
        var hotel = 'img/marker/markermap/hostelhotel.png';
        var curiosity = 'img/marker/markermap/curiosity.png';
        var shopping = 'img/marker/markermap/shopping.png';
        var ecotourism = 'img/marker/markermap/ecotourism.png';
      googlePush(function () {  
          geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(48.872416, 2.291373);
            var mapOptions = {
                zoom: 12,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            document.getElementById('form_activity_locate').addEventListener('click', function (e) {
                e.preventDefault();
                codeAddress();
            });
       
        
        {% for marker in markers %}  
        var title = "{{marker.title}}";
        var picture = '<img src="uploads/picture/{{marker.pictures}}">'
        var description = "{{marker.description}}";
        var category = "{{marker.category}}";
        var prices = "{{marker.prices}}";
        var tips = "{{marker.tips}}";
        var address = "{{marker.address}}";
        var contentString = "<h1>"+ title + "</h1>" +"<br>"+"Description : "  + description 
                            +"<br> Category : " + category + "<br>  Price :" + prices +"<br> Tips : " 
                            + tips +"<br> Address : " + address + "<br>" + picture;
        
        
        
        
        
 
        
        var marker = new google.maps.Marker({
                icon:{{marker.category}},
                position: {
                        lat:{{marker.latitude}},
                        lng:{{marker.longitude}}
                },
                map: map,
                info: new google.maps.InfoWindow({content: contentString})
        });
       
        google.maps.event.addListener(marker, 'click', (function() {   
        this.info.open(map, this);
        
        

        }));   
        
        
        {% endfor %}
                  
           
        });

        function codeAddress() {
            var address = document.getElementById('form_activity_address').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        
                    });
                    document.getElementById('form_activity_longitude').value = results[0].geometry.location.lng();
                    document.getElementById('form_activity_latitude').value = results[0].geometry.location.lat();
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });

        }


       


    </script>




{% endblock %}



