{% extends "layout.html.twig" %}
{% use "bootstrap_4_layout.html.twig" %}

{% block body %}		



    <!-- LISTINGS DETAILS TITLE SECTION -->
    <section class="clearfix paddingAdjustBottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="listingTitleArea">
                        <h2>{{ activity.title }}</h2>
                        <p>{{ activity.address }}<br></p>


                        <div class="listingReview">
                            <ul class="list-inline rating">
                                <li><i class="fa fa-star" style="color:#FFB400;" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" style="color:#FFB400;" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" style="color:#FFB400;" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" style="color:#FFB400;" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- LISTINGS DETAILS IMAGE SECTION -->
    <section class="clearfix paddingAdjustTopBottom">

        <img src="/uploads/picture/{{ activity.pictures }}" alt="Image Listing" class="img-responsive">

    </section>

    <!-- LISTINGS DETAILS INFO SECTION -->
    <section class="clearfix paddingAdjustTop">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="listDetailsInfo">
                        <div class="detailsInfoBox">
                            <h3>About This place : {{ activity.category }}</h3>
                            <p>{{ activity.description }}</p>

                        </div>
                        <div class="detailsInfoBox">
                            <h3>Tips</h3>
                            <ul class="list-inline featuresItems">
                                <li><i class="fa fa-check-circle" style="color:#2196F3;" aria-hidden="true"></i>  {{ activity.tips }}</li>

                            </ul>
                        </div>
                        <div class="detailsInfoBox">
                            <h3>Prices </h3>
                           <i class="far fa-money-bill-alt" style="color:#2196F3;" aria-hidden="true"></i>  {{ activity.prices }}
                        </div>                                
                        <div class="detailsInfoBox">
                            <h3>Activity add by : </h3>
                            <ul class="list-inline featuresItems">
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>{{ activity.creator }}<p</li>

                            </ul>
                        </div>
                                
                        <div class="detailsInfoBox">
                            <h3>Reviews (3)</h3>
                            <div class="media media-comment">
                                <div class="media-left">
                                    <img src="img/listing/list-user-1.jpg" class="media-object img-circle" alt="Image User">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Jessica Brown</h4>
                                    <ul class="list-inline rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan
                                        totam rem ape riam,</p>
                                </div>
                            </div>


                        </div>
                        <div class="detailsInfoBox">
                            <h3>Write A Review </h3>
                            <div class="listingReview">
                                <span>( 5 Reviews )</span>
                                <ul class="list-inline rating rating-review">
                                    <li><i class="fa fa-star" style="color:#FFB400;" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" style="color:#FFB400;" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" style="color:#FFB400;" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" style="color:#FFB400;" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" style="color:#FFB400;" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <form action="#">
                                <div class="formSection formSpace">

                                    <span>( 2 Reviews )</span>
                                    <ul class="list-inline captionItem">
                                        <li><i class="far fa-thumbs-up" style="color:#2196F3;" aria-hidden="true"></i> 10 k</li>
                                    </ul>
                                  {{form_start (form) }}    {# debut du formulaire #}
                                  {{form_widget (form) }}   {# contenu du formulaire #} 
                                  {{form_end (form) }}      {# fin du formulaire #}

                               </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
