{% extends "layouthome.html.twig" %}

{% block body %}
    <style>
        #map {
            height: 650px;
            width: 100%;
        }
    </style>
    <section class="clearfix p0">
        <body id="body" class="body-wrapper boxed-menu" >

            <div id="map"></div>

        </body>
    </section>
    <script>


        var geocoder;
        var map;
        var bar = 'img/marker/markermap/barpub.png';
        var restaurant = 'img/marker/markermap/foodrestaurant.png';
        var culture = 'img/marker/markermap/culture.png';
        var outdooractivity = 'img/marker/markermap/outdooractivity.png';
        var hotel = 'img/marker/markermap/hostelhotel.png';
        var curiosity = 'img/marker/markermap/curiosity.png';
        var shopping = 'img/marker/markermap/shopping.png';
        var ecotourism = 'img/marker/markermap/ecotourism.png';
        googlePush(function () {
        var angers = {lat: 47.478419, lng: - 0.5631660000000238};
        map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
                center: angers,
        });
        {% for marker in markers %}  
        var title = "{{marker.title}}";        
        var description = "{{marker.description}}";
        var category = "{{marker.category}}";
        var prices = "{{marker.prices}}";
        var tips = "{{marker.tips}}";
        var address = "{{marker.address}}";
        var contentString = "<h1>"+ title + "</h1>" +"<br>"+"Description : "  + description 
       +"<br> Category : " + category + "<br>  Price :" + prices +"<br> Tips : " 
       + tips +"<br> Address : " + address;
        
        
        
        
        
 
        
        var marker = new google.maps.Marker({
                icon:{{marker.category}},
                position: {
                        lat:{{marker.latitude}},
                        lng:{{marker.longitude}}
                },
                map: map,
                info: new google.maps.InfoWindow({content: contentString})
        });
       
        google.maps.event.addListener(marker, 'click', (function() {   
        this.info.open(map, this);
        
        

        }));   
        
        
        {% endfor %}

            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(48.864716, 2.349014);
            var mapOptions = {
            zoom: 8,
                    center: latlng
            };
            });
    </script>
   




    <section class="clearfix p0">
        <body id="body" class="body-wrapper boxed-menu" >
   
            <section class="clearfix interestArea">
                <div class="container">
                    <div class="page-header text-center">
                        <h2>What are You Interested in? <small>Explore and connect with great local activity</small></h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <a href="category-grid-full.html" class="interestContent">
                                <span>
                                    <img src="{{ asset('img/marker/restauranthome.png') }}" alt="Origin country" width="100" height="100">
                                    <br><br>
                                    Restaurant
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <a href="category-list-full.html" class="interestContent">
                                <span>
                                    <img src="{{ asset('img/marker/hotelhome.png') }}" alt="Origin country" width="100" height="100">
                                    <br><br>
                                    Hotels
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <a href="category-grid.html" class="interestContent">
                                <span>
                                    <img src="{{ asset('img/marker/drinkhome.png') }}" alt="Origin country" width="100" height="100">
                                    <br><br>
                                    Bar-Pub-Clubs
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <a href="category-list-left.html" class="interestContent">
                                <span>
                                    <img src="{{ asset('img/marker/ecohome.png') }}" alt="Origin country" width="100" height="100">
                                    <br><br>
                                    Ecotourism
                            </a>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <a href="category-grid-right.html" class="interestContent">
                                <span>
                                    <img src="{{ asset('img/marker/culturehome.png') }}" alt="Origin country" width="100" height="100">
                                    <br><br>
                                    Museums
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <a href="category-list-right.html" class="interestContent">
                                <span>
                                    <img src="{{ asset('img/marker/touristhome.png') }}" alt="Origin country" width="100" height="100">
                                    <br><br>
                                    Outdoor Activity
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <a href="category-grid-full.html" class="interestContent">
                                <span>
                                    <img src="{{ asset('img/marker/shoppinghome.png') }}" alt="Origin country" width="100" height="100">
                                    <br><br>
                                    Shopping
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <a href="all-business.html" class="interestContent">
                                <span>
                                    <img src="{{ asset('img/marker/curiosityhome.png') }}" alt="Origin country" width="100" height="100">
                                    <br><br>
                                    Curiosity
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>     


        </body>
    </section>

{% endblock %}
