{% extends "layout.html.twig" %}

{% block body %}

    <div class="container">
        <section class="clearfix pageTitleSection bg-image" style="background-image: url({{ asset('img/background/prodileback.png') }}" alt="Origin country"  >
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pageTitle">
                            <h2> {% block title %}Welcome to your profile <br> {{ app.user.name }} {{ app.user.lastname }} {% endblock %}</h2>
                        </div>
                    </div>
                </div>        	
                <br>
            </div>
            <br>	
        </section>  
        <div class="user-profile">
            <div class="row">
                <div class="col-xs-12 col-sm-4">

                    <div class="user-img">
                        <img src="{{ asset('uploads/avatar/' ~ app.user.avatar )}}" alt="User Image">
                    </div>
                </div> 
                <div class="col-xs-12 col-sm-8">
                    <div  class="dashboardBoxBg">
                        <div  class="profileIntro">
                            <div class="user-profile-content">
                                <h3 class="user-name">{{ app.user.userName }}</h3>
                                <h3 class="user-name">{{ app.user.name }}</h3>
                                <h3 class="user-name">{{ app.user.lastname }}</h3>



                                <span class="designation">Enjoy Backpack</span>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus eum, libero tempora consequuntur explicabo saepe aut sapiente iusto ipsum.</p>

                                <ul class="user-contact-details">

                                    <li><img src="{{ asset('img/icons/map-1.png') }}" alt="Origin country" width="50" height="50">    {{ app.user.originCountry }}</li>
                                    <br>
                                    <li><img src="{{ asset('img/icons/worldwide-1.png') }}" alt="language" width="50" height="50">    {{ app.user.language }}</li>
                                    <br>
                                    <li><img src="{{ asset('img/icons/bday.png') }}" alt="birthday" width="50" height="50">  {{ app.user.birthday|date('Y-m-d') }}</a></li>
                                    <br>
                                    <li><img src="{{ asset('img/icons/sex.png') }}" alt="sex" width="50" height="50">  {{ app.user.sex }}</a></li>
                                    <br>              
                                    <li><img src="{{ asset('img/icons/email-1.png') }}" alt="Email" width="50" height="50">  <a href="{{ app.user.email }}">{{ app.user.email }}</a></li>
                                    <br> 


                                </ul>
                                <a href="{{ path('logout') }}"><button type="submit" class="btn btn-primary"><i class="fas fa-sign-out-alt fa-1x" aria-hidden="true"></i> LOGOUT </button></a>
                                <br> 


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}